<nav>
  <div class="links">
    <div class="main">
      <ul>
        <li>
          <a (click)="hide()">
            <i class="fa fa-user fa-2x" aria-hidden="true" id="home"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="navbar-header">
      <h1>Event Booking</h1>
    </div>
  </div>
  <div>
    <a href="" class="contact">Log Out</a>
</div>
</nav>
<section>
  <div class="sidebar" >
      <app-sidebar *ngIf="show"></app-sidebar>
  </div>
  <div class="postbody">
    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
