.icon{
  position: relative;
    top: 8px;
}

.active{
  background-color: brown;
  color: white;
}

.ripple:hover{
  background-color: brown;
  color: white;
}

#sidebar{
  background-color: rgb(162, 112, 112);
}
